Source: sugar-presence-service-0.90
Section: x11
Priority: optional
Maintainer: Debian OLPC <debian-olpc-devel@lists.alioth.debian.org>
Uploaders: Jonas Smedegaard <dr@jones.dk>
Build-Depends: devscripts,
 python (>= 2.6.5),
 cdbs (>= 0.4.97~),
 debhelper,
 dh-buildinfo,
 python-dbus,
 python-gobject | python-gtk2 (<< 2.9),
 openssh-client
Standards-Version: 3.9.3
Vcs-Git: git://git.debian.org/git/collab-maint/sugar-presence-service.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/sugar-presence-service.git
Homepage: http://wiki.sugarlabs.org/go/Sugar

Package: sugar-presence-service-0.90
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends}, ${cdbs:Depends}, ${misc:Depends}
Recommends: ${cdbs:Recommends}
Provides: ${python:Provides}, ${cdbs:Provides}
Conflicts: ${cdbs:Conflicts}
Replaces: ${cdbs:Replaces}
Description: Sugar graphical shell - presence service
 Sugar is a desktop environment. It is conceived as a platform upon
 which children learn with Sugar Activities. The platform provides
 mechanisms for collaboration, reflection, and exploration. Sugar
 Activities cover a broad range of applications: browsing, drawing,
 composing, writing, programming, etc.
 .
 This package contains the (deprecated but still used) presence service.
